<%- include('partials/header'); -%>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= found.name %> Warehouses.</h1>
    <div>
      <p class="lead" style="padding-left: 3%; text-align: center;">
        Search for specific warehouse
      </p>

      <form
        class="form-block"
        action="/find/<%=found.id%>"
        method="GET"
        style="padding-left: 40%;"
      >
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          placeholder="search via address"
          id="search"
          name="search1"
          style="width: 40%;"
        />
        <input
          type="text"
          class="form-control mb-2 mr-sm-2"
          placeholder="search via type of goods"
          id="search"
          name="search2"
          style="width: 40%;"
        />
        <div style="width: 40%;">
          <button type="submit" class="form-control btn btn-secondary mb-2">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <%if(noMatch !== null){%>
  <h1 style="text-align: center;"><%=noMatch%></h1>
  <%}%>

  <div class="row text-center">
    <% found.location.forEach(function(house){ %>
    <div class="col-sm">
      <form action="" method="POST">
        <div class="card" style="width: 18rem; margin-bottom: 30px;">
          <img
            class="card-img-top"
            src="<%=house.image%>"
            alt="Card image cap"
            style="height: 240px;"
          />
          <div class="card-body">
            <h5 class="card-title"><%= house.space %></h5>
            <p class="card-text" style="color: red;">
              <%= house.name %>
            </p>
            <p class="card-text">
              <%= house.typeOfGoods %>
            </p>
            <a href="/find/<%=house._id%>/checkout" class="btn btn-dark"
              >Confirm
            </a>
          </div>
        </div>
      </form>
    </div>
    <% }); %>
  </div>
</div>
<%- include('partials/footer'); -%>
