<%- include('partials/header'); -%>
<div class="container">
  <h1 style="padding-bottom: 30px;">
    <%= found.name %> Warehouses.
  </h1>
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% found.location.forEach(function(house){ %>
    <div class="row">
      <div class="col-sm">
        <form action="" method="POST">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="<%= house.image %>"
              alt="Card image cap"
              style="height: 240px;"
            />
            <div class="card-body">
              <h5 class="card-title"><%= house.name %></h5>
              <p class="card-text" style="color: red;">
                <%= house.space %>
              </p>
              <p class="card-text">
                <%= house.typeOfGoods %>
              </p>
              <a href="/find/<%=house._id%>/checkout" class="btn btn-primary"
                >Confirm
              </a>
            </div>
          </div>
        </form>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
